<section class="container">
  <article class="d-flex flex-column gap-4 w-100 h-100 justify-content-center align-items-center">
    <h1>Hello there!</h1>
    <picture>
      <source srcset="<%= image_path('general-kenobi.webp') %>">
      <img src="<%= image_path('general-kenobi.png') %>" alt="General Kenobi Meme" style="width:auto;">
    </picture>
    <%= link_to 'Home', root_path, class: 'btn btn-primary' %>
  </article>
</section>